<div class="container_intro">

    <div class="frame_intro">
        <h1 class="intro_title">Compás político</h1>
        <p class="intro_text">¿En qué ideología estás "encuadrado"?</p>
        <p class="intro_pregunta">¿Listx para participar?</p>
        <button class="btn2_intro" mat-button color=accent [routerLink]="['/description']" >CONTINUAR</button>
        <p class="intro_text_2">o</p>
        <p class="intro_text_2">informate en</p>
        <a class="btn_intro" mat-button  href="https://democraciaenred.org/">#MEREPRESENTA</a>
        <p class="infoalpie_intro">Idea original de Antonio Milanese y Agustín Frizzera. Desarrollado por Democracia en Red.</p>
    </div>
</div>
