<div class="container">

    <div class="frame">
        <p class="intro_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum risus vel, sagittis, sit. Nulla porttitor in pulvinar nunc, id. Dignissim integer dictum justo laoreet. Arcu aliquet pellentesque pellentesque fames. Mauris dolor adipiscing porttitor sed velit commodo enim, mattis a.</p>
        <p class="intro_pregunta">¿Listo/a para participar?</p>
        <button mat-raised-button [routerLink]="['/info']" >Continuar</button>
    </div>
</div>
