<app-header></app-header>

<div class="container_graph">

  <div class="frame_graph">

    <h1 class="title_graph">TU RESULTADO</h1>

    <div class="graph" style="display: block">
      <div style="text-align: center;">
        <img class="img_comu" src="./../../../assets/imgs/populista.png">
      </div>
    <div class="rotulos">
      <div class="etiqueta_izq">
        <img  src="./../../../assets/imgs/izquierda.png">
      </div>
      <canvas class="graph_canvas" baseChart
      [datasets]="scatterChartData"
      [options]="scatterChartOptions"
      [labels]="scatterChartLabels"
      [chartType]="scatterChartType"
      [colors]="chartColors">
        </canvas>
        <div class="etiqueta_der">
          <img class="" src="./../../../assets/imgs/derecha.png">
        </div>
        
      </div>

        <div style="text-align: center;">
          <img class="img_comu" src="./../../../assets/imgs/liberal.png">  
        </div>        
    </div>

    <cdk-accordion class="example-accordion">
      <cdk-accordion-item
        *ngFor="let item of categorias; let i = index;"
        #accordionItem="cdkAccordionItem"
        class="example-accordion-item"
        role="button"
        tabindex="0"
        [attr.id]="'accordion-header-' + i"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + i">
        <div class="example-accordion-item-header" (click)="accordionItem.toggle()" [ngClass]="{'chosen': item.selected === true}">
          <div class="item-title">{{ item.Title }}</div>
        
        <div class="example-accordion-item-description">
          {{ accordionItem.expanded ? '∧' : '∨' }}
          <!--Click to {{ accordionItem.expanded ? 'close' : 'open' }}-->
        </div>
      </div>
        <div
          class="example-accordion-item-body"
          role="region"
          [style.display]="accordionItem.expanded ? '' : 'none'"
          [attr.id]="'accordion-body-' + i"
          [attr.aria-labelledby]="'accordion-header-' + i">
          {{ item.Description }}
        </div>
      </cdk-accordion-item>
    </cdk-accordion>

    <!--<p class="title_text_graph">{{titulo_resultado}}</p>
    <p class="description_text_graph">{{descripcion_resultado}}</p>-->
  </div>

  <div style="text-align: center;">
    <p class="description_text_final">Encontrá más info sobre las elecciones en: </p>
      <a class="btn_graph" mat-button href="https://democraciaenred.org/">#MEREPRESENTA</a>
  </div>

  <div>
    <p class="description_text_final">Para conocer lo que hacemos seguinos en:</p>
    <div style="text-align: center;">
      <a href="https://www.instagram.com/democraciaenred/?hl=es-la"><img class="img_redes" src="./../../../assets/imgs/Instagram.png"></a>
      <a href="https://twitter.com/fundacionder?lang=es"><img class="img_redes" src="./../../../assets/imgs/Twitter.png"></a>
    </div>
  </div>
  <div class="spacer_graph"></div>
</div>


