<div class="container_description">

    <div class="frame_description">
        <h1 class="title_description">Compás político</h1>
        <p class="text_description">Vas a encontrarte con 20 afirmaciones y te vamos a pedir que expreses tu grado de acuerdo con cada una de ellas. El resultado te va a encuadrar ideológicamente en ejes cartesianos.</p>
        <p class="text_description">  Algunas afirmaciones son extremas, otras moderadas; algunas son ambigüas, otras maliciosas. La intención es que te sirva para pensar, para auto-observar tus propias opiniones, emociones o prejuicios.</p>
        <p class="text_description">Sobre todo, nunca olvides: ¡es sólo un juego!  </p>
        <button class="btn2_description" mat-button   [routerLink]="['/info']">CONTINUAR</button>
        <a class="btn_description" mat-stroked-button href="https://democraciaenred.org/">#MEREPRESENTA</a>        
    </div>

    <div class="dots">
        <div>
        </div>
        
    </div>
</div>
